{% extends 'base-front.html.twig' %}
{% block content %}

    <div class=innerbannerwrap>
        <div class=content></div>
        <div class=innerbanner><h2 class=bannerHeadline><span>connexion</span></h2></div>
    </div>
    <section class=innerpage_all_wrap>
        <div class=container>
            <div class=row><h2 class=heading>Connectez-vous Pour Continuer <span>Vers Volcano Football</span></h2>

                <p class=headParagraph></p>

                <form  action="" method="post">

                    {% if error %}
                        <div class="alert alert-danger">les informations d'identification invalides !</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
                        </div>
                    {% endif %}

                    <div class=form-group>
                        <input style="height: 60px; width: 49%; float: left; margin-right: 1% " type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus placeholder="Nom d'utilisateur">
                    </div>

                    <div class=form-group>
                        <input style="height: 60px; width: 49%; margin-left: 1% " type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="Mot de Passe">
                    </div>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                    #}


                    <button type=submit class="btn btn-red" >Connexion</button>
                    <div class=form-message></div>

                    <div style="margin-top: 10px">
                        <a href="{{ path('inscrire') }}" class="text-muted"><h4>S'inscrire</h4> </a>
                    </div>



                    <div style="margin-top: 10px" class="mt-4">
                        <a href="" class="text-muted"><i class="mdi mdi-lock mr-1"></i> Mot de passe oublié?</a>
                    </div>



                </form>
            </div>


        </div>
        </div>
    </section>


{% endblock %}
