{% extends 'base-back.html.twig' %}
{% block content %}


 
 
<div class="row" , style="width: 100%;">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Liste Des Kiosque</h4>
                <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>Stade</th>
                        <th>Nom </th>
                        <th>Type</th>                       

                        <th>U/D</th>

                       
                    </tr>
                </thead>
                <tbody>
                    <tr {% for k in kiosque %}>
                        <td>{{ k.id }}</td>
                        <td>{{ k.getStade().getNom() }}</td>
                        <td>{{ k.Nom }}</td>
                        <td>{{ k.Type }}</td>


                        <td><a href="{{ path('UpdateKiosque',{'id':k.id})}}"><i class="ri-pencil-fill"></a>
                            <a href="{{ path('deleteKiosque',{'id':k.id})}}"><i class="ri-delete-bin-fill"></a></td>

                    </tr{% endfor %}>
                    <li><a href="http://127.0.0.1:8000/kiosque/AddKiosque">Add Kiosque</a></li>

                </tbody>
              </table>
        </div>
    </div>
</div> <!-- end col -->
</div> <!-- end row -->
<script>
    $('#datatable-buttons').DataTable();
</script>
{% endblock %}     