{% extends 'base-front.html.twig' %}

{% block activeAccueil %}
    class=active
{% endblock %}

{% block content %}

    <div class=banner id=layerSlider style="width: 100%;">
        <div class=ls-slide data-ls="transition3d: 33,15; slidedelay: 8000 ; durationin:0;"><img
                    src="{{ asset('front-office/images/banner/background01.jpg') }}" class=ls-bg alt="Slide background">

            <div class="ls-l layercontent01" style="top: 50%; left: 50%; z-index:4;"
                 data-ls="offsetxin:left; offsetxout:right; durationin: 4000; parallaxlevel: 8;"><img
                        src="{{ asset('front-office/images/banner/player.png') }}" alt=innerimage class=img-responsive
                        style="max-width: 100% !important ;"></div>
            <img src="{{ asset('front-office/images/banner/ball.png') }}" alt=innerimage class="ls-l layercontent02" style=z-index:5;
                 data-ls="offsetxin: right; offsetxout:left; rotatein:-360; easingin: easeoutquart; durationin: 4000; delayin: 250; parallaxlevel: -5;">
            <img src="{{ asset('front-office/images/banner/front_particles.png') }}" alt=particles class=ls-l style="z-index:3; left:0;"
                 data-ls="offsetxin: left; offsetxout:left; scalexin:50; easingin: easeoutquart; durationin: 3000; delayin: 250;">
            <img src="{{ asset('front-office/images/banner/back_particles.png') }}" alt=particles class=ls-l style="z-index:3; left:50%;"
                 data-ls="offsetxin: left; offsetxout:left; scalein:90; easingin: easeoutquart; durationin: 3000; delayin: 250;">

            <h2 class="ls-l bannertext layercontent03" data-ls="offsetxin:left; rotatexin:90 ; durationin: 3500;">
                l'action</h2>

            <h2 class="ls-l bannertext01 italic01 layercontent04"
                data-ls="offsetxin:left; scalexin:9; durationin: 4000;">commence</h2><h4
                    class="ls-l bannertext02 layercontent05" data-ls="offsetxin:left; rotatexin:90 ; durationin: 4500;">
                à partir du</h4>

            <h2 class="ls-l bannertext01 layercontent06" style="left: 87%; top:760px;"
                data-ls="offsetxin:left; flipxin:90 ; durationin: 5000;">8<sup></sup></h2><h6
                    class="ls-l bannertext03 layercontent07" data-ls="offsetxin:left; flipxin:90 ; durationin: 6000;">
                mars , 2022</h6></div>
    </div>
    <div class=banner-text>
        <div class=container>
            <div class=row>l'action commence à partir du 8<sup></sup> mars , 2022.</div>
        </div>
    </div>

    <!---------------------------------------------Block Khairi------------------------------------------------------>

    <section class="product bg-white">
        <div class=container>
            <div class=row><h2 class=heading>MEILLEURS PRODUITS & <span>merchandise</span></h2>
                <p class=headParagraph></p>
                <ul class=product_details>
                    {% for p in produits %}
                        <li><a href="{{ path('AfficherProduitsFront') }}">
                            <div>
                                <div class=product-img
                                     style="background:url({{ asset('uploads/images/') ~ p.photo }}) center no-repeat"></div>
                            </div>
                            <ul class="oswald16 product_info">
                                <li class=detailsContainer><span>{{ p.nom }}</span> <span>Taille: {{ p.taille }}</span></li>
                                <li class=cartContainer><span>Prix: </span> <span class=price>${{ p.prix }}</span></li>
                            </ul>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <div class=center><a href="{{ path('AfficherProduitsFront') }}" class="btn btn-red">Visitez Notre Boutique</a></div>
            </div>
        </div>
    </section>

    <!---------------------------------------------END Block Khairi------------------------------------------------------>

    <section class=players>
        <div class=container>
            <div class=row><h2 class=heading>List Of <span> Accommodations </span></h2>
                <p class=headParagraph>Qatar has something for everyone with its vast range of hotels and world-renowned hospitality. Most of the hotels are located in the capital Doha but there are several out-of-town retreats for visitors looking for something different.</p>

                <div class="wrapplayer clearfix"><a class="prv prev-player"></a> <a class="nxt next-player"></a>
                    <ul class="boardmember clearfix">
                        {% for h in hebergements %}

                        <li class=clearfix>
                            <div>
                                <div>
                                    <div class=fig01>
                                        <div class=memberimg
                                             style=background:url("{{ asset('uploads/images/') ~ h.photoH }} ") no-repeat top center></div>

                                </div>


                                <div class="bg-black01 fig02">
                                    <h6 class=paragraph02>{{ h.nomH }} </h6>

                                    <div class="uppercaseheading red"> {{ h.type }} </div>


                                    <p>The FIFA World Cup Qatar 2022™ is less than a year away. Your host country, Qatar, offers an exciting range of accommodation – available to book soon..</p></div>
                                <div class="bg-black fig02"><p>Experience a FIFA World Cup™
                                        like no other.</p>
                                </div>
                                <div class="bg-redcolor fig02"><p>Adresse : {{ h.adresse }}</p></div>

                            </div>
                </div>

                <a style="margin-top: 7px; text-align: center; margin-left: 55px"  href="{{ path('AddByHebergement',{'id':h.id}) }}"class="btn btn-red"> Je Reserve</a>

                </li>

                {% endfor %}

                </ul>
            </div>

        </div>
        </div>
    </section>

    <script type=text/javascript>
        $(function () {
            $('#da_gallery .gallery-list ').hoverdir();
        });
    </script>





{% endblock %}