{% extends 'base-front.html.twig' %}
{% block content %}


<div class=innerbannerwrap>
    <div class=content></div>
    <div class=innerbanner><h2 class=bannerHeadline>book <span>ticket</span></h2></div>
</div>
<section class="innerpage_all_wrap bg-white">
    <div class=container>
        <div class=row><h2 class=heading>Coupe du Monde Qatar 2022™ <span>Billets </span></h2>

            <p class=headParagraph> <b>Quatre catégories de prix seront proposées pour la Coupe du Monde , Qatar 2022™: </b> <br>

               <b>la catégorie 1</b> , affichant les tarifs les plus élevés, correspond aux places situées aux meilleurs emplacements des tribunes.<br>
                <b>La catégorie 2 et la catégorie 3 </b> sont des zones de places assises dans le stade, distinctes des emplacements de la catégorie 1.<br>
                <b>La catégorie 4 </b> correspond à des zones de places assises à l'intérieur du stade, distinctes des emplacements des catégories 1, 2 et 3. <br> Cette catégorie est exclusivement réservée aux résidents du Qatar . <br> </p>
            <div class=innerWrapper>
                <aside class="widgetinner clearfix">
                    <div class=widgetinfowrap>
                        <div class=bg-blackimg>catégories Billet :</div>
                        <ul class="widgetinfo info01">
                            <li>Cat 1 : 200 (AED)</li>
                            <li>Cat 2 : 150 (AED)</li>
                            <li>Cat 3 : 100 (AED)</li>
                            <li>Cat 4 : 50 (AED)</li>
                        </ul> </div>
                </aside>
                <aside class=contentinner>
            <div class="bg-red headline01">most populat match ticket</div>


                    <ul class=ticketInfo>
                        {% for b in billet %}
                        <li>
                            <ul class="t_info headline01 clearfix">
                                <li>Cat: {{ b.categorie }}</li>
                                <li>
                                    <div class="headline01 clearfix"><span>{{ b.matche.NomMatche }}</span></div>
                                    <div class="ticketInner_info paragraph02 clearfix"><span>Prix: {{ b.prix }}</span>
                                        <div class="ticketInner_info paragraph02 clearfix"><span>{{ b.matche.date|date('d-m-Y') }}</span>
                                            <span>{{ b.matche.time|date("H:i:s")}} pm </span>
                                        </div>
                                </li>
                                <li><a href={{path(('ReserverTicket')) }} class="btn-small01 btn-green">Réserver</a></li>
                            </ul>
                        </li>



                    {% endfor %}
                </ul>
            </div>
        </div>
            </aside>
    </section>

    <script type=text/javascript>
        $(function () {
            $('#da_gallery .gallery-list ').hoverdir();
        });
    </script>
{% endblock %}



