{% extends 'base-back.html.twig' %}
{% block content %}
   <!-- start page title -->
   <div class="row" style="width: 100%;">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <!--<h4 class="mb-0">Responsive Table</h4>-->

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Réservations</a></li>
                    <li class="breadcrumb-item active">Afficher</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<!-- start row -->
<div class="row" style="width: 100%;">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <p class="card-title-desc"></p>

                <h4 class="card-title">Tableau Des Réservations</h4>
                <p class="card-title-desc"></p>

                <div class="table-rep-plugin">
                    <div class="table-responsive mb-0" data-pattern="priority-columns">
                        <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">

                            <thead class="thead-dark">
                    <tr>
        <th>ID</th>
        <th>date debut</th>
        <th>date fin</th>
        <th>hebergement</th>
        <th>idClient</th>
        <th>Actions</th>
        
    </tr>
</thead>

    <tr {% for r in reservation %}>
        <td>{{ r.id }}</td>
        <td>{{ r.dateDebut|date('d-m-Y') }}</td>
        <td>{{ r.dateFin|date('d-m-Y') }}</td>
        <td>{{ r.hebergement.NomH }}</td>
        <td>{{ r.idClient }}</td>
        <td><a href="{{ path('UpdateR',{'id':r.id}) }}"><i class="ri-pencil-fill"></i></a>     <a href="{{ path('deleteR',{'id':r.id}) }}"><i class="ri-delete-bin-fill"></i></a></td>



    </tr{% endfor %}>

</tbody>


</tbody>
</table>
</div>

</div>

</div>
</div>
</div> <!-- end col -->
</div>
<!-- end row -->

<script>
$('#datatable-buttons').DataTable();
</script>
{% endblock %}
