{% extends 'base-back.html.twig' %}

{% block user %}
    {{ app.user.username }}
{% endblock %}


{% block content %}


    {% form_theme form 'bootstrap_4_layout.html.twig' %}




    <div class="row" style="width: 100%;">

        <div class="col-12">
            <div class="card">
                {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
                <div class="card-body">
                    <h1>Ajouter Stade</h1>
                    <p class="card-title-desc"></p>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">{{ form_label(form.Nom) }}</label>
                        <div class="col-md-10">
                            <input class="form-control" {{ form_widget(form.Nom) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">{{ form_label(form.Adresse) }}</label>
                        <div class="col-md-10">
                            <input class="form-control" {{ form_widget(form.Adresse) }}
                        </div>

                    </div>

                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">{{ form_label(form.Capacite) }}</label>
                        <div class="col-md-10">
                            <input class="form-control" {{ form_widget(form.Capacite) }}
                        </div>
                    </div>
                    {{ form_widget(form) }}
                    {{ form_end(form) }}


                </div>
            </div> <!-- end col -->
        </div> <!-- end col -->
    </div>
    </div>






    <script>
        $('#datatable-buttons').DataTable();
    </script>
{% endblock %}