{% extends 'base-back.html.twig' %}

{% block user %}
    {{ app.user.username }}
{% endblock %}


{% block content %}

    <div class="row"  , style="width: 100%;">
        <div class="col-12">
            <div class="card">

                <div class="card-body">


                    <h4 class="card-title">Liste Des Stades</h4>

                    <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        {% for flashMessage in app.session.flashbag.get('notice') %}

                            <div class="alert alert-success">
                                {{ flashMessage }}
                            </div>

                        {% endfor %}
                        {% for flashMessage in app.session.flashbag.get('Danger') %}
                            <div class="alert alert-danger">
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nom </th>
                            <th>Adresse </th>
                            <th>Capacite</th>
                            <th>Date Ouverture</th>
                            <th>Photo</th>
                            <th> update / Delete</th>




                        </tr>
                        </thead>
                        <tbody>
                        <tr {% for s in stade %}>
                            <td>{{ s.id }}</td>
                            <td>{{ s.nom }}</td>
                            <td>{{ s.adresse }}</td>
                            <td>{{ s.capacite }}</td>
                            <td>{{ s.dateouverture | date('d-m-Y') }}</td>
                            <td><img style="height: 100px" src="{{ asset('uploads/images/') ~ s .photo }}"/></td>
                            <td><a href="{{ path('UpdateStade',{'id':s.id})}}"><i class="ri-pencil-fill"></i></a><a href="{{ path('deleteStade',{'id':s.id})}}"><i class="ri-delete-bin-fill"></i></td>

                        </tr{% endfor %}>
                        <li><a href="http://127.0.0.1:8000/stade/AddStade">Add Stade</a></li>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#datatable-buttons').DataTable();

    </script>
{% endblock %}