<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Liste des Joueur</h1>
<table border="3">
    <tr>
        <th>ID</th>
        <th>Nom Joueur</th>
        <th>Prenom Joueur</th>
        <th>Age</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    <tr {% for j in joueur %}>
        <td>{{ j.id }}</td>
        <td>{{ j.nomJoueur }}</td>
        <td>{{ j.prenomJoueur }}</td>
        <td>{{ j.age }}</td>
        <td><a href="{{ path('update',{'id':j.id}) }}">Update</a></td>
        <td><a href="{{ path('delete',{'id':j.id}) }}">Delete</a></td>
    </tr {% endfor %}>
</table>
</body>
</html>