
{% extends 'base-back.html.twig' %}

{% block content %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    <div class="row" style="width: 100%;">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">{{ form_label(form.nom_joueur) }}</label>
                        <div class="col-md-10">
                            <input class="form-control" {{ form_widget(form.nom_joueur) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">{{ form_label(form.prenom_joueur) }}</label>
                        <div class="col-md-10">
                            <input class="form-control" {{ form_widget(form.prenom_joueur) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">{{ form_label(form.age) }}</label>
                        <div class="col-md-10">
                            <input class="form-control" {{ form_widget(form.age) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">{{ form_label(form.position) }}</label>
                        <div class="col-md-10">
                            <input class="form-control" {{ form_widget(form.position) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">{{ form_label(form.description) }}</label>
                        <div class="col-md-10">
                            <input class="form-control" {{ form_widget(form.description) }}
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div> <!-- end col -->
        </div>
    </div>
    <div class="row">

    </div>
{% endblock %}


