{% extends 'base-back.html.twig' %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Liste Des Equipes</h4>
                <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom Equipe</th>
                        <th>Prenom Equipe</th>
                        <th>Drapeau Equipe</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr {% for e in equipe %}>
                        <td>{{ e.id }}</td>
                        <td>{{ e.nomEquipe }}</td>
                        <td>{{ e.dateCreation|date('d-m-Y') }}</td>
                        <td><img src="{{asset(e.drapeauEquipe)}}"/></td>
                        <td><a href="{{ path('modifier',{'id':e.id}) }}">Update</a></td>
                        <td><a href="{{ path('supprimer',{'id':e.id}) }}">Delete</a></td>
                    </tr {% endfor %}>
                    </tbody>
                </table>
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->
{% endblock %}
