{% extends 'base-back.html.twig' %}
{% block content %}
<div class="row" style="width: 100%;">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Liste Des Agences</h4>
                <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom Agence</th>
                        <th>adresse Agence</th>
                        <th>numTel</th>
                        <th>update</th>
                        <th>delete</th>
                       
                    </tr>
                </thead>
                <tbody>
                    <tr {% for a in agence %}>
                        
                        <td>{{ a.id }}</td>
                        <td>{{ a.nom }}</td>
                        <td>{{ a.adresse }}</td>
                        <td>{{ a.numTel }}</td>
                        <td><a href="{{ path('Update',{'id':a.id}) }}">Update</a></td>
                        <td><a href="{{ path('deleteAgence',{'id':a.id}) }}">Delete</a></td>
                    </tr{% endfor %}>

                </tbody>
                <li><a href="http://127.0.0.1:8000/agence/Add">Add</a></li>

            </table>
        </div>
    </div>
</div> <!-- end col -->
</div> <!-- end row -->
{% endblock %}
