{% extends 'base-front.html.twig' %}
{% block content %}
    <div class=innerbannerwrap>
        <div class=content></div>
        <div class=innerbanner><h2 class=bannerHeadline><span>Nos Agences</span></h2></div>
    </div>

    <section class=innerpage_all_wrap>
        <div class=container>
            <div class=row>
                    <ul class="galleryPage gallerycolumn03 clearfix" id=da_gallery>
                        {% for a in agence %}
                        <td><a href="{{ path('ListByAgence',{'id':a.id}) }}">

                            <li class=gallery-list><a class=column_g><span class=image_g style=background:url(front-office/images/gallery/masonry/cercle.PNG)></span>
                
                                        <div class=gallery-info>
                                            <div class="headline01 clearfix"><span> {{ a.nom }} </span></div>

                                            <p class=match_dtls>{{ a.adresse }}</span></p>
                                            <div class="ticketInner_info paragraph02 clearfix"><span>   {{ a.numTel }}</span></div>
                                            <a  href={{ path('ListByAgence',{'id':a.id}) }} class="btn-small01 btn-blue">Accéder</a>
                                        </p></div>
                                </a></li>
                            </a>
                        {% endfor %}
                    </ul>
                
            </div>
        </div>
    </section>

    <script type=text/javascript>
        $(function () {
            $('#da_gallery .gallery-list ').hoverdir();
        });
    </script>
{% endblock %}

