{% extends 'base-back.html.twig' %}
{% block content %}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                {{ form_start(form) }}
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">{{ form_label(form.nom_equipe) }}</label>
                        <div class="col-md-10">
                            <input class="form-control" {{ form_widget(form.nom_equipe) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-date-input" class="col-md-2 col-form-label">{{ form_label(form.date_creation) }}</label>
                        <div class="col-md-10">
                            <input class="form-control"  {{ form_widget(form.date_creation) }}>
                        </div>
                    </div>



                    {{ form_widget(form.date_creation) }}
                    {{ form_label(form.drapeau_equipe) }}
                    {{ form_widget(form.drapeau_equipe) }}
                {{ form_end(form) }}
            </div>
        </div> <!-- end col -->
    </div>
</div>
{% endblock %}
