{% extends 'base-front.html.twig' %}
{% block content %}
    <div class=innerbannerwrap>
        <div class=content></div>
        <div class=innerbanner><h2 class=bannerHeadline><span>{{ equipe.nomEquipe }}</span></h2></div>
    </div>
    <section class="players homeplayer">
        <div class=container>
            <div class=row><h2 class=heading>nos <span>Joueurs</span></h2>



                <div class="wrapplayer clearfix"><a class="prv prev-player"></a> <a class="nxt next-player"></a>
                    <ul class="slideHeroes clearfix">
                        {% for j in joueur %}
                        <li>
                            <a href="#">
                                <div class=playerFig>
                                    <div class=playerpic>
                                        <div style=background:url({{ asset('uploads/images/') ~ j.photo }}) class=bgimg></div>
                                    </div>
                                    <ul class="playerDetails clearfix">
                                            <li><span>{{ j.nomJoueur }} {{ j.prenomJoueur }}</span> <span><img src={{ asset('front-office/images/player/playerT_shirt01.png') }}
                                                                                                               alt=image></span></li>
                                            <li class=playinfodetails>age {{ j.age }}</li>
                                        <li class=playerInfo><span>{{ j.position }}</span></li>
                                    </ul>
                                    <p><br></p>
                                    <div style="text-align: center">
                                        <a  href="{{ path('mail',{'id':j.id}) }}" class="btn-small btn-red" >contacter</a>
                                    </div>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}




