{% extends 'base-front.html.twig' %}
{% block content %}

    <div class=innerbannerwrap>
        <div class=content></div>
        <div class=innerbanner><h2 class=bannerHeadline><span>Match</span></h2></div>
    </div>

    <!-- Flash success mailing -->
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}

    <!-- Button bch y5rjli el Modal -->
        </div>
             <div class="row">
                <button type="button" class="btn btn-primary bg-red center-block col order-5" data-toggle="modal" data-target="#exampleModal">
            Donnez votre Avis
           </button>
        </div>

    <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Votre Avis</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ form_start(form) }}
                        <div class="cp-field">
                            <h5>Note</h5>
                            <div class="form-group">
                                {{ form_widget(form.note) }}
                            </div>
                        </div>
                        <div class="cp-field">
                            <h5>Votre Avis</h5>
                            <div class="form-group">
                                {{ form_widget(form.description) }}
                            </div>
                        </div>
                        <div class="save-stngs pd3">
                            <ul>

                                <li> {{ form_widget(form.Envoyer) }}</li>
                            </ul>
                        </div>
                        {{ form_end(form) }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>

                    </div>
                </div>
            </div>
        </div>


    {% endfor %}
    <!-- Fin Modal -->

    <!-- debut Page d'affichage normal -->

    <section class=innerpage_all_wrap>

        <div class=container>
            <div class=row>
                <h2 class=heading>
                    match <span>Coupe du Monde Qatar 2022™ </span>
                </h2>

  <!--  Barre de recherche Selon NomMatche & Date -->

                <div class="bg-red shop_select clearfix">
                    <div class="select_shopping">
                        <form>
                            <div class="form-group">
                                <label class="headline01">Sort by match</label>
                                <select class="form-control" id="match">
                                    {% for m in matche %}
                                    <option value="{{m.NomMatche}}">{{m.NomMatche}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="headline01">Date</label>
                                <input type="date" id="datem" class="form-control">

                            </div>

                        </form>
                    </div>
                </div>
                <div id="result">

                </div>

            </div>
        </div>
    </section>
    <!--  Hajet tb3ina template -->
    <script type=text/javascript>
        $(function () {
            $('#da_gallery .gallery-list ').hoverdir();
        });
    </script>
    <!--  3aytet lel library ta3 ajax -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!--  Selon NomMatche -->
    <script type="text/javascript">
        jQuery(document).ready(function() {
            var searchRequest = null;
            $("#match").change(function() {
                var minlength = 0;
                var that = this;
                var value = $(this).val();
                var entitySelector = $("#result").html('');
                if (searchRequest != null)
                    searchRequest.abort();
                searchRequest = $.ajax({
                    type: "POST",
                    url: "{{ path('rechMatch') }}",
                    data: {
                        'q' : value
                    },
                    dataType: "text",
                    success: function(msg){
                        console.log(msg);
                        var result = JSON.parse(msg);
                        $.each(result, function(key, arr) {
                            $.each(arr, function(id, value) {
                                if (key === 'entities') {
                                    if (id !== 'error') {
                                        var img1={{ asset('upload/') }}+value[7];
                                        var img2={{ asset('upload/')  }}+value[8];
                                        entitySelector.append(
                                        '<div class="matchSchedule_details row"> <div class="match_next right-triangle"> <div class="wrap_match_next right-triangle"><div class=right-padding><h4 class=headline03>'+value[0]+ '</h4>'+
                                            '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></div>'+
                                        '</div></div>'+
                                        '<div class=match_versus><div class="bg-blackimg match_versus02"><div class=nextmatchDetails><div class="wrap-logo clearfix">'+
                                            '<div class=logo-match><img src="'+img1+'" alt=image></div>'+
                                            '<div class=match_vs>vs</div>'+
                                            '<div class=logo-match><img src="'+img2+'" alt=image></div>'+
                                            '</div>'+
                                            '<p class=match_dtls><b> Date :</b>'+value[1]+'/'+value[2]+'/'+value[3]+'</p>'+
                                        '<p class=match_dtls><b> Time :</b>'+value[4]+ 'PM</p>'+
                                        '<p class=match_dtls><b> Nom Arbitre Principal :</b>'+value[5]+'</p>'+
                                        '<p class=match_dtls><b> Stade :</b>'+value[6]+'<br> <li><a href="ListByMatche/'+id+'" class="btn-small01 btn-green">Billet</a></li></p></div>'+
                                        '</div></div></div>'
                                        );
                                    } else {
                                        entitySelector.append('<div class="error">'+value+'</div>');
                                    }
                                }
                            });
                        });
                    }
                });
            });
        });
    </script>
    <!--  Selon Date -->
    <script type="text/javascript">
        jQuery(document).ready(function() {
            var searchRequest = null;
            $("#datem").change(function() {
                console.log($(this).val())
                var minlength = 0;
                var that = this;
                var value = $(this).val();
                var entitySelector = $("#result").html('');
                if (searchRequest != null)
                    searchRequest.abort();
                searchRequest = $.ajax({
                    type: "POST",
                    url: "{{ path('rechMatchDate') }}",
                    data: {
                        'q' : value
                    },
                    dataType: "text",
                    success: function(msg){
                        console.log(msg);
                        var result = JSON.parse(msg);
                        $.each(result, function(key, arr) {
                            $.each(arr, function(id, value) {
                                if (key === 'entities') {
                                    if (id !== 'error') {
                                        var img1={{ asset('upload/') }}+value[7];
                                        var img2={{ asset('upload/')  }}+value[8];
                                        entitySelector.append(
                                            '<div class="matchSchedule_details row"> <div class="match_next right-triangle"> <div class="wrap_match_next right-triangle"><div class=right-padding><h4 class=headline03>'+value[0]+ '</h4>'+
                                            '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></div>'+
                                            '</div></div>'+
                                            '<div class=match_versus><div class="bg-blackimg match_versus02"><div class=nextmatchDetails><div class="wrap-logo clearfix">'+
                                            '<div class=logo-match><img src="'+img1+'" alt=image></div>'+
                                            '<div class=match_vs>vs</div>'+
                                            '<div class=logo-match><img src="'+img2+'" alt=image></div>'+
                                            '</div>'+
                                            '<p class=match_dtls><b> Date :</b>'+value[1]+'/'+value[2]+'/'+value[3]+'</p>'+
                                            '<p class=match_dtls><b> Time :</b>'+value[4]+ 'PM</p>'+
                                            '<p class=match_dtls><b> Nom Arbitre Principal :</b>'+value[5]+'</p>'+
                                            '<p class=match_dtls><b> Stade :</b>'+value[6]+'<br> <li><a href="ListByMatche/'+id+'" class="btn-small01 btn-green">Billet</a></li></p></div>'+
                                            '</div></div></div>'
                                        );
                                    } else {
                                        entitySelector.append('<div class="error">'+value+'</div>');
                                    }
                                }
                            });
                        });
                    }
                });
            });
        });
    </script>

    <!--  Pour afficher au debut la page de garde sans recherche -->
    <script type="text/javascript">
        jQuery(document).ready(function() {
            var searchRequest = null;

                var entitySelector = $("#result").html('');
                if (searchRequest != null)
                    searchRequest.abort();
                searchRequest = $.ajax({
                    type: "POST",
                    url: "{{ path('AffMatchAjax') }}",
                    data: {
                        'q' : 0
                    },
                    dataType: "text",
                    success: function(msg){
                        console.log(msg);
                        var result = JSON.parse(msg);
                        $.each(result, function(key, arr) {
                            $.each(arr, function(id, value) {
                                if (key === 'entities') {
                                    if (id !== 'error') {
                                        var img1={{ asset('upload/') }}+value[7];
                                        var img2={{ asset('upload/')  }}+value[8];
                                        entitySelector.append(
                                            '<div class="matchSchedule_details row"> <div class="match_next right-triangle"> <div class="wrap_match_next right-triangle"><div class=right-padding><h4 class=headline03>'+value[0]+ '</h4>'+
                                            '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></div>'+
                                            '</div></div>'+
                                            '<div class=match_versus><div class="bg-blackimg match_versus02"><div class=nextmatchDetails><div class="wrap-logo clearfix">'+
                                            '<div class=logo-match><img src="'+img1+'" alt=image></div>'+
                                            '<div class=match_vs>vs</div>'+
                                            '<div class=logo-match><img src="'+img2+'" alt=image></div>'+
                                            '</div>'+
                                            '<p class=match_dtls><b> Date :</b>'+value[1]+'/'+value[2]+'/'+value[3]+'</p>'+
                                            '<p class=match_dtls><b> Time :</b>'+value[4]+ 'PM</p>'+
                                            '<p class=match_dtls><b> Nom Arbitre Principal :</b>'+value[5]+'</p>'+
                                            '<p class=match_dtls><b> Stade :</b>'+value[6]+'<br> <li><a href="ListByMatche/'+id+'" class="btn-small01 btn-green">Billet</a></li></p></div>'+
                                            '</div></div></div>'
                                        );
                                    } else {
                                        entitySelector.append('<div class="error">'+value+'</div>');
                                    }
                                }
                            });
                        });
                    }
                });

        });
    </script>

{% endblock %}
