{% extends 'base-front.html.twig' %}
{% block content %}


    <div class=innerbannerwrap>
        <div class=content></div>
        <div class=innerbanner><h2 class=bannerHeadline>book <span>ticket</span></h2></div>
    </div>

    <section class="innerpage_all_wrap bg-white">
        <div class=container>
            <div class=row><h2 class=heading>Coupe du Monde Qatar 2022™ <span>Billets </span></h2>
                <section class=about>
                    <div class=container>
                        <div class=row><h2 class=heading>About <span>Ticket</span></h2>

                            <div class=about-wrap>
                                <div class="tab-content nav-content"><p role=tabpanel class="tab-pane fade" id=matches>
                                        <b>la catégorie 1:</b> 200 dirham Dubai Emirats , 48,09 Euro , 7654,83 Dinar Algérien  , 157,20  Dinar Tunisien <br><br>
                                    <b>la catégorie 2:</b> 150 dirham Dubai Emirats ,  36,07 Euro   , 5741,12Dinar Algérien , 117,90 Dinar Tunisien<br><br>
                                        <b>la catégorie 3:</b> 100 dirham Dubai Emirats , 24.05 Euro  , 3827,42 Dinar Algérien  , 78,60  Dinar Tunisien<br><br>
                                        <b>la catégorie 4:</b> 50 dirham Dubai Emirats  , 48,09 Euro  , 1913,71 Dinar Algérien  , 39,30  Dinar Tunisien<br><br>
                                    </p>
                                    <p role=tabpanel class="tab-pane active fade in" id=static>
                                        <b>Quatre catégories de prix seront proposées pour la Coupe du Monde , Qatar 2022™: </b> <br><br>
                                        <b>la catégorie 1</b> affichant les tarifs les plus élevés, correspond aux places situées aux meilleurs emplacements des tribunes.<br><br>
                                        <b>La catégorie 2,la catégorie 3 </b> sont des zones de places assises dans le stade, distinctes des emplacements de la catégorie 1.<br><br>
                                        <b>La catégorie 4 </b> correspond à des zones de places assises à l'intérieur du stade,distinctes des emplacements des catégories 1,2 et 3. <br> <br>
                                       </p>

                                    <p role=tabpanel class="tab-pane fade" id=traning><b> Pour Réserver Un Billet cher client Merci de cliquer sur le  bouton Réserver , Et veuillez consulter votre boîte mail  . </b>  </p></div>
                                <div class=nav-header id=aboutTab>
                                    <ul class="nav nav-tabs clearfix" role=tablist>
                                        <li><a href=#matches aria-controls=matches role=tab data-toggle=tab>TICKET PRICES</a></li>
                                        <li class=active><a href=#static aria-controls=static role=tab data-toggle=tab>TICKET CATEGORIES</a>
                                        </li>
                                        <li><a href=#traning aria-controls=traning role=tab data-toggle=tab>PAYMENT METHODS</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <p class=headParagraph>  </p>
                <div class=innerWrapper>
                    <aside class="widgetinner clearfix">
                        <div class=widgetinfowrap>
                            <div class=bg-blackimg>catégories Billet :</div>
                            <ul class="widgetinfo info01">
                                <li>Cat 1 : 200 (AED)</li>
                                <li>Cat 2 : 150 (AED)</li>
                                <li>Cat 3 : 100 (AED)</li>
                                <li>Cat 4 : 50 (AED)</li>
                            </ul> </div>
                    </aside>
                    <aside class=contentinner>
                        <div class="bg-red headline01">most populat match ticket</div>


                        <ul class=ticketInfo>
                            {% for b in billet %}
                                <li>
                                    <ul class="t_info headline01 clearfix">
                                        <li>Cat: {{ b.categorie }}</li>
                                        <li>
                                            <div class="headline01 clearfix"><span>{{ b.matche.NomMatche }}</span></div>
                                            <div class="ticketInner_info paragraph02 clearfix"><span>Prix: {{ b.prix }}</span>
                                                <div class="ticketInner_info paragraph02 clearfix"><span>{{ b.matche.date|date('d-m-Y') }}</span>
                                                    <span>{{ b.matche.time|date("H:i:s")}} pm </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li><a href="{{ path(('ReserverTicket')) }}" class="btn-small01 btn-green">Réserver</a></li>
                                    </ul>
                                </li>



                            {% endfor %}
                        </ul>
                </div>
            </div>
            </aside>
    </section>

    <script type=text/javascript>
        $(function () {
            $('#da_gallery .gallery-list ').hoverdir();
        });
    </script>
{% endblock %}



