{% extends 'base-back.html.twig' %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Liste Des hebergements</h4>
                <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>photo hebergement</th>
                        <th>Nom hebergement</th>
                        <th>type hebergement</th>
                        <th>adresse hebergement</th>
                        <th>details</th>
                        <th>update</th>
                        <th>delete</th>
                       
                    </tr>
                </thead>
                <tbody>
                    <tr {% for h in hebergement %}>
                        <td>{{ h.id }}</td>
                        <td>{{ h.photoH }}</td>
                        <td>{{ h.nom }}</td>
                        <td>{{ h.type }}</td>
                        <td>{{ h.adresse }}</td>
                        <td><a href>details</a></td>
                        <td><a href="{{ path('UpdateH',{'id':h.id}) }}">Update</a></td>
                        <td><a href="{{ path('deleteH',{'id':h.id}) }}">Delete</a></td>
                        

                      
                    </tr{% endfor %}>
                    <li><a href="http://127.0.0.1:8000/hebergement/AddH">Add</a></li>

                </tbody>
            </table>
        </div>
    </div>
</div> <!-- end col -->
</div> <!-- end row -->
{% endblock %}     